@font-face {
    font-family: gotham;
    src: url(font/GothamMedium_1.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: gotham;
}
.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(82, 0, 38, 0.884), rgb(0, 23, 32));
}
#logo{
    width: 40px;
    height: 40px;
    margin: 20px 0px 1px 20px;
}

#buscar{
    margin: 10px;
    background-color:#e0eeee00;
    border:solid 1px #f0f0f05e;
    border-left: #ffffff7d;
    border-right: #ffffff35;
    width:150px;
    height:32px;
    align-items: center;
    
  }
  #procurar{
    float:left;
    background-color:transparent;
    font-size:15px;
    border:none;
    height:30px;
    width:90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
#lupa{
    width: 30px;
    height: 30px;
}
#home{
    color:#1db954;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#your{
    color:#ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 100%;
    height: auto;
    background-color: #c8f4d4;
}

.blocoum{
    width: 200px;
    height: auto;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.131), rgb(0, 23, 32));
}

.blocodois{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    overflow-x:hidden ;
    overflow-y: scroll;
}

a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: 2px solid #1db954;
}

#more{
    text-decoration: aquamarine;
    border: none;
}

#titulo{
    margin: 40px auto;
    font-size: 30px;
    color: white;
}
#flex{
    display: flex;
}

#albuns{
    width: 200px;
    height: 200px;
    padding: 10px;
    
}

#albuns:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.UmDois{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.BlocoUmDois{
    padding: 10px;
}

.DoisDois{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
p{
    color: white;
}

#instalar{
    margin-top: 850px;
    border: 1px solid rgba(200, 244, 212, 0.319);
    border-left: 1px rgba(200, 244, 212, 0.319) ;
    border-right: 1px  rgba(200, 244, 212, 0.319);
    border-top: 1px rgba(200, 244, 212, 0.319);
}

#perfil{
    width: 40px;
    border-radius: 100%;
   margin-top: 10px;
}

li{
    list-style: none;
}
.tres{
    width: 100%;
    height: auto;
    background-color: rgb(88, 88, 88);
}
footer{
    width: 100%;
    overflow-x:hidden ;
    overflow-y: scroll;
}

button{
    background-color: rgb(88, 88, 88);
    border: gray;
}
button:hover{
    border: 1px solid  rgb(158, 158, 158);
    border-radius: 50px;
}

#repeat{
    width: 20px;
    height: 20px;
    padding: 10px;
}
#anterior{
    width: 30px;
    height: 30px;
    padding: 10px;
}
#play{
   width: 32px; 
   height: 32px;
   padding: 10px;
}
#proximo{
    width: 30px;
    height: 30px;
    padding: 10px;
}
#aleatorio{
    width: 20px;
    height: 20px;
    padding: 10px;
}
#barra{
    width: 400px;
    height: auto;
    margin: 0px 0px 0px 800px;
}
.audio{
 margin: 0px 0px 0px 860px;
}

#volume{
width: 20px;
height: 20px;
}

#forma{
    width: 20px;
    height: 20px;
}

#pc{
width: 20px;
height: 20px;
}


#canto{
    margin: 0px 0px 0px 1700px;
}